.main{
    display:table;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color:gray;
    
}
.main *{
    display: block;
    text-align:center;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.menuitem{
    text-align: left;
    margin-bottom: 2px;
    padding: 0px;
    display: inline-block;
}

.bioitem{
    text-align: left;
    padding: 0px;
}

h3{
    font-weight: bold;
}